{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br>
            <div class="jumbotron">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea required class="form-control" name="description" rows="5"
                    placeholder="What's on your mind..."></textarea>

                    <input required type="file" name="image" id="files" class="form-control" />
                    <button id="postBtn" type="submit" class="btn btn-dark mb-3">Post Status</button>

                </form>
            </div>
        </div>
    </div>

    <div class="following">
        <h5>Suggested Friends</h5>
    </div>
    {% for user in all %}
    <div style="display: block;" class="container">
        <img src="../../../static/images/logo/home.png" alt="">
        <h5>{{user.username}}</h5>
        <button type="submit" id="follo" class="btn btn-outline-info btn-sm">Follow <i
                class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    {% endfor %}

    <!--Display news Article images  -->
    <div class="container">
        <div class="row">
        {% for photo in photos %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="hovereffect">
            <a href="{% url 'photo' photo.id %}"><img class="img-fluid" src="{{photo.image.url}}" style="height: 200px; width: 400px; " alt="">
              <div class="overlay"></a>
              
                 <h4>{{photo.name}}</h4>
                 <!-- <h6>{{photo.description}}</h6> -->
              </div>
          </div>
        </div>
      
    
      {% empty %}
      <div class="row">
        <h2 class="text-center">There No Photos</h2>
      </div>
      {% endfor %}
    
    </div>

</div>
{% endblock %}
